<body>
    <h1>Links on our tables</h1>
    <p><a style="color:rgb(229, 102, 168)" href="/students">ALL STUDENTS PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/sloniki">SLONIKI PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/weapons">WEAPONS PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/heroes">HEROES PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/street_food">STREET FOOD</a></p> 
    <p><a style="color:rgb(229, 102, 168)" href="/gym2">EXERCISE PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/games">GAMES PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/cats">CATS PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/heroes_mlbb">HEROES MLBB PAGE</a></p>
<<<<<<< HEAD
    <p><a style="color:rgb(252, 165, 4)" href="/street_food">STREET FOOD</a></p>
=======
>>>>>>> 92b4e9dcbf4f6b2468e87a5878e999b8ace7f40a
    <p><a style="color:rgb(107, 123, 177)" href="/cars">CARS PAGE</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/dhd">DESPERATE HOUSEWIVES</a></p>
    <p><a style="color:rgb(229, 102, 168)" href="/movies">MOVIES PAGE</a></p>
</body>

