<button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/sloniki">
        GO BACK
    </a>
</button>
<form method="POST" action="{{action}}">
    <fieldset>
        <label>
            Username
            <input name="username" placeholder="Username" required />
        </label>
        
        <label>
            Password
            <input type="password" name="password" placeholder="Password" required />
        </label>
        
        <label>
            Age
            <input type="number" name="age" placeholder="Age" />
        </label>
        
        <label>
            Place of birth
            <input name="place_of_birth" placeholder="Place of birth" />
        </label>
    </fieldset>

    <input
            type="submit"
            value="SAVE"
    />
</form>